@page
@model PorchSwingFarms.Pages.Subscriptions.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Subscription</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Subscription.Customer.FullName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Subscription.Customer.FullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Subscription.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Subscription.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Subscription.Quantity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Subscription.Quantity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Subscription.Frequency)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Subscription.Frequency)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Subscription.StartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Subscription.StartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Subscription.EndDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Subscription.EndDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Subscription.DeliveryIns)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Subscription.DeliveryIns)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Subscription.PaymentDetails)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Subscription.PaymentDetails)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Subscription.SubscriptionID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
