@page
@model PorchSwingFarms.Pages.Subscriptions.IndexModel

@{
    ViewData["Title"] = "Subscriptions";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Subscription[0].Customer.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subscription[0].Customer.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subscription[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subscription[0].Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subscription[0].Frequency)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subscription[0].StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subscription[0].EndDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Subscription) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Frequency)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.SubscriptionID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.SubscriptionID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.SubscriptionID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
